body {
    margin: 0;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-width: 400px;
}

h2 {
    color:#4c8bf5;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #4c8bf5;
    margin-bottom: 4px;
    border-radius: 10px;
}

button {
    background: #4c8bf5;
    color: white;
    padding: 10px 20px;
    border: 1px solid #4c8bf5;
    font-weight: bold;
    border-radius: 10px;
}

.remove-btn {
    padding: 5px 10px;
    margin-left: 20px
}

button:hover {
    background: white;
    color: #4c8bf5;
}

#delete-btn, .remove-btn {
    background: white;
    color: #4c8bf5;
}

#delete-btn:hover,  .remove-btn:hover {
    background: #4c8bf5;
    color: white;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color: #4c8bf5;
}


